:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);

    --accent1-color:rgb(191, 200, 244);
    --accent2-color: rgb(158, 221, 174);

    --nav-background-color: rgb(10, 11, 100);
    --nav-background-color-hover: rgb(121, 187, 137);

    --card-background-color: rgb(242, 244, 253);

    --paragraph-font: 'Roboto', serif;

    --min-width: 320px;
    --max-width: 1080px;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    max-width: var(--max-width);
    min-width: var(--min-width);
}

header,
footer {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}

.not-found {
    width: 100%;
    height: auto;
    padding: 1rem;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    align-items: center;
    padding: 1rem;
    text-shadow:  1px 1px 2px var(--primary-color);
}

header > img {
    width: 100%;
    height: auto;
}

header > div {
    width: 100%;
    padding-left: 0.5rem;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header span {
    font-size: 1rem;
}

/* Navigation */

#menu-button {
	font-size: 2rem;
	border: none;
	background: var(--accent1-color);
    color: var(--secondary-color);
    cursor: pointer;
    text-align: center;
    padding: 0.25rem 2vw;
}

/* a. Navigation close */

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    border-bottom: 5px solid var(--accent2-color);
    background-color: var(--nav-background-color);
}

nav > ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menu-button::before {
	content: "☰";
}

/* b. Navigation open */

nav.open {
    grid-template-rows: 1fr;
}

#menu-button.open::before {
	content: "✖";
}

ul.menu-links li a {
    display: block;
    font-size: 1.2rem;
    padding: 0.8rem;
    text-align: center;
    color: var(--primary-color);
    background: var(--nav-background-color);
}

ul.menu-links li.active-link a,
.hero a:hover {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

ul.menu-links li:not(.active-link) a:hover {
    color: var(--secondary-color);
    background: var(--nav-background-color-hover);
}

/* Footer */

footer {
    font-size: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 7.5rem 3rem auto;
    row-gap: 1rem;
    padding: 1rem;
    justify-content: left;
}

footer > div {
    margin: 0;
    width: 210px;
}

footer > .social {
    width: 200px;
    display: flex;
}

/* Main */

main > h2 {
    width: 100%;
    padding: 1rem;
    font-size: 1.9rem;
    color: var(--secondary-color);
}

/* HOME LANDING PAGE STYLE */

/* First part - Events, weathers */

.events-weather, 
#business-sum {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem 1rem;
    min-height: 120px;
}

.events-weather > div {
    background-color: var(--card-background-color);
    width: 100%;
    text-shadow: 1px 1px 2px var(--primary-color);
    border-radius: 1rem;
}

.events-weather > div > h3 {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--accent2-color);
}

.events-weather > div > div {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

#current-weather p {
    padding: 0 0.5rem;
}

#weather-cast p {
    padding: 0.5rem 1rem;
}

/* Business Summaries */

#business-sum section {
    background-color: var(--card-background-color);
    text-align: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    margin: 0;
}

#business-sum h3 {
    background-color: var(--nav-background-color);
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

#business-sum li,
#business-sum a {
    color: var(--secondary-color);
    margin: 0;
    padding: 0.2rem;
}

#business-sum img {
    height: 8rem;
    width: 8rem;
    padding: 0.5rem;
    object-fit: cover;
    border-radius: 5rem;
}

/* Hero */

.hero {
    position: relative;
}

.hero img {
    height: 21rem;
    width: 100%;
    object-fit: cover;
    border-bottom: 0.4rem solid var(--nav-background-color);
}

.hero a {
    position: absolute;
    font-size: 1.3rem;
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    top: 15rem;
    padding: 0.8rem 2rem;
    right: 8vw;
    border-radius: 2rem;
    border: 3px solid var(--accent1-color);
}

/* DIRECTORY STYLE */

.layout-buttons {
    display: flex;
    width: 300px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.layout-buttons li {    
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: var(--secondary-color);
    font-size: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--accent1-color);
}

.layout-buttons li.active-layout {
    background-color: var(--accent2-color);
    box-shadow:  1px 1px 1px var(--secondary-color);
}

/* Cards Display */

.card {
    background-color: var(--card-background-color);
    box-shadow: 0 0 0.3rem 0px var(--accent1-color);
    padding: 0.5rem;
    border-radius: 0.8rem;
    color: var(--secondary-color);
    justify-items: center;
    border-bottom: 3px solid var(--accent1-color);
}

.card img {
    height: 160px;
    width: 260px;
    padding: 0.5rem 0;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 3px solid var(--accent1-color);
}

.card li,
.card a {
    padding: 0.2rem 0;
    color: var(--secondary-color);
}

.card a:hover {
    color: var(--nav-background-color-hover);
}

li.membership {
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 4.5rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-shadow: 0 0 2px var(--primary-color);
    background-color: var(--accent1-color);
}

/* Container for cards display */

.grid {
    display: grid;
    margin: 1rem 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 1rem;
    min-height: 600px;
}

.grid li {
    font-size: 1rem;
}

.grid > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 290px;
}

.grid h3 {
    font-size: 1.6rem;
    margin: 0.3rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 40px;
}

.list > .card {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    width: 100%;
}

.list > .card img {
    display: none;
}

.list h3 {
    font-size: 1rem;
    margin: 0;
    width: 100px;
}

.list > .card > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    align-items: center;
}

.list > .card > ul > li {
    font-size: 0.8rem;
    /* width: 100px; */
    text-align: center;
}

.list > .card > ul > li.site {
    font-weight: lighter;
    font-style: italic;
    width: 51px;
}

/* JOIN STYLE */

/* a. Form Style */

.join-page {
    padding: 1rem;
}

.join-page h3 {
    text-shadow:  1px 1px 2px var(--primary-color);
    font-size: 1.1rem;
    color: var(--nav-background-color);
    text-align: center;
    border-bottom: 1px solid var(--accent1-color);
    margin: 0;
}

.join-form {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    background-color: var(--card-background-color);
    padding: 1rem;
    border-radius: 1rem;
}

.join-form form {
    margin: 0;
}

.join-form fieldset {
    border: none;
    padding: 0;
    margin: 0.6rem;
}

.join-form legend,
.join-form p {
    margin: auto 0 0;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    font-weight: bold;
}

.join-form strong {
    text-shadow:  0 0 1px red;
    color: var(--nav-background-color);
}

.join-form input[type=text],
.join-form input[type=tel],
.join-form input[type=date],
.join-form input[type=email],
.join-form textarea,
.join-form select {
    padding: 0.3rem;
    font-size: 1rem;
    width: 100%;
    contain: content;
    background-color: var(--primary-color);
    border-style: none;
    border: 2px solid var(--secondary-color);
}

.join-form label {
    display: block;
    font-size: .8rem;
    color: var(--nav-background-color);
    padding: 0.2rem;
}

.join-form input:required {
    border-left: 3px solid red;
}

.join-form input:focus {
    border-left-color: var(--accent1-color); 
    outline: 2px solid var(--accent1-color);
}

.join-form input:required:valid {
    border-left: 3px solid green;
}

.join-form input[type=submit] {
    border: 1px solid black;
    text-align: center;
    color: white;
    background-color: var(--nav-background-color);
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    animation: shape_change 3s infinite alternate linear;
    cursor: pointer;
}

@keyframes shape_change {
	0% {
        border-radius: 2rem;
    }
    100% {
        border-radius: 0;
    }
}

/* b. Thank you Page */

.thanks {
    text-align: center;
    font-size: 1rem;
    padding: 0 1rem;
}

#results {
    background-color: var(--card-background-color);
    padding: 1rem;
    margin: 1rem;
    border: 3px solid var(--nav-background-color);
    border-radius: 1rem;
}

#results p:not(:first-child) {
    margin-top: 0.5rem;
}

/* c. Membership levels */

#membership-levels {    
    margin: 1rem 2%;
    padding: 1rem;
}

#membership-levels > aside {
    border: 2px solid var(--nav-background-color);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--card-background-color);
    text-align: center;
    margin: 1rem;
    animation: slidein 3s;
}

@keyframes slidein {
    0% {
        opacity: 0%;
        margin-top: 3rem;
        background-color: var(--accent1-color);
    }
    100% {
        opacity: 100%;
        margin-top: 1rem;
        background-color: var(--card-background-color);
    }
}

#membership-levels > aside > h4 {
    margin-bottom: 0.5rem;
    text-shadow:  1px 1px 2px var(--primary-color);
}

#membership-levels > aside > button {
    background-color: var(--nav-background-color);
    color: var(--primary-color);
    text-shadow:  1px 1px 2px var(--secondary-color);
    border: 2px solid var(--accent1-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

/* d. Dialog */

#levelModal {
    position: relative;
    top: 2rem;
    border: 2px double var(--nav-background-color);
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 0 2rem var(--accent1-color);
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.7);
}
  
#levelModal h4 {
    font-size: 1.1rem;
    padding: 0.2rem;
    margin: 0;
}

#levelModal li {
    font-size: 1rem;
    padding: 0.1rem 0;
    list-style: disc;
    margin-left: 2rem;
}

#levelModal p {
    background-color: var(--card-background-color);
    padding: 0.5rem;
    width: 200px;
    text-align: center;
}

#levelModal button {
    background-color: var(--accent1-color);
    position: absolute;
    top: 1px;
    right: 2px;
    height: 44px;
    width: 44px;
    font-size: 1.5rem;
    padding: 0.2rem;
    border: 1px solid var(--nav-background-color);
    border-radius: 1rem;
    cursor: pointer;
}

