@media screen and (min-width: 640px) {

    /* NAVEGATION */

    #menu-button {
        display: none;
    }

    nav, 
    nav.open {
        grid-template-rows: 1fr;
        transition: none;
        border-bottom: none;
    }

    ul.menu-links {
        display: flex;
    }

    ul.menu-links li {
        flex: 1 1 100%;
    }

    ul.menu-links li a {
        border-bottom: 5px solid var(--accent2-color);
    }

    /* FOOTER */

    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer > div {
        margin: 0;
        width: auto;
    }

    /* HOME LAYOUT */

    .events-weather {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        min-height: 12rem;
    }

    #business-sum {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #business-sum section {
        margin: 10px;
    }

    /* JOIN STYLE */

    .join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join-page figure > img {
        opacity: 75%;
    }
    
    .join-page figure > img:hover {
        opacity: 100%;
    }


}
