@media screen and (min-width: 640px) {

    #menu-button {
        display: none;
    }

    nav, 
    nav.open {
        grid-template-rows: 1fr;
        transition: none;
        border-bottom: none;
    }

    ul.menu-links {
        display: flex;
    }

    ul.menu-links li {
        flex: 1 1 100%;
    }

    ul.menu-links li a {
        border-bottom: 5px solid var(--accent2-color);
    }

    footer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer > div {
        margin: 0;
        width: auto;
    }
}
